* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', system-ui, sans-serif;
  background: #f7f7f8;
  color: #1f2933;
  line-height: 1.5;
}


.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.mb20{
  margin-bottom: 20px;
}


@media (min-width: 1024px) {

  .container {
    max-width: 1200px;
  }

}
